Repository waltiu/lerna-demo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-web-app, custom-build-rntest

.gitlab-ci-web-app.yml:

build-web-app:
  image: node:12
  stage: build
  script: cd ./packages/web-app && npm run build 
  only:
    changes:
      - packages/web-app/**/*
      - .gitlab-ci.yml


job-in-diff-config-files:
 script: echo "job-in-diff-config-files" 
 stage: build
 tags:
    - web-app

.gitlab-ci.yml:

stages:
  - build

include: './.gitlab-ci-web-app.yml'

custom-build-rntest:
  image: node:12
  stage: build
  script: cd ./packages/rntest && npm run build 
  only:
    changes:
      - packages/rntest/**/*
      - .gitlab-ci.yml

other-stages-on-build-rntest:
 script: echo "other-stages on-build-rntest" 
 stage: build

Revert "trigger web-app"
  packages/web-app/README.md
Due: build-web-app

remove tag
  .gitlab-ci-web-app.yml
  .gitlab-ci.yml
Due: build-web-app, custom-build-rntest

update
  .gitlab-ci.yml
Due: build-web-app, custom-build-rntest

add danger
  .gitlab-ci.yml
  dangerfile.js
  package.json
  yarn.lock
Due: build-web-app, custom-build-rntest

add fail
  dangerfile.js
Due: none

should fail when merge request
  .gitlab-ci.yml
  README.md
  dangerfile.js
  packages/rntest/README.md
  packages/shared/README.md
  packages/web-app/README.md
Due: build-web-app, custom-build-rntest

show dangerjs error
  dangerfile.js
  packages/web-app/README.md
Due: build-web-app

remove file
  packages/resumbale-upload-demo/.babelrc
  packages/resumbale-upload-demo/.gitignore
  packages/resumbale-upload-demo/README.md
  packages/resumbale-upload-demo/package-lock.json
  packages/resumbale-upload-demo/package.json
  packages/resumbale-upload-demo/server/formidable-middleware.js
  packages/resumbale-upload-demo/server/index.js
  packages/resumbale-upload-demo/src/ResumableUpload/index.css
  packages/resumbale-upload-demo/src/ResumableUpload/index.js
  packages/resumbale-upload-demo/src/index.html
  packages/resumbale-upload-demo/src/index.js
  packages/resumbale-upload-demo/webpack.config.js
Due: none

add circleci for github
  .circleci/config.yml
Due: none

test github pr locally
  dangerfile.js
Due: none

update dangerfile
  dangerfile.js
Due: none

update danger for github info
  dangerfile.js
Due: none

put danger in ci
  .circleci/config.yml
Due: none

print pr title
  dangerfile.js
Due: none

update dangerfile that title need to startwith feature
  dangerfile.js
Due: none

print github.pr
  dangerfile.js
Due: none

update
  dangerfile.js
Due: none

remove pr property
  dangerfile.js
Due: none
